<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('nav') %>

    <h1>Welcome to <%= title %></h1>
    <h2>Some content will be here soon I swear!</h2>
  </body>
</html>