<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('nav') %>
    <h1><%= title %></h1>
    <% if (typeof errors != 'undefined'){ %>
      <ul>
        <% errors.forEach(function(error){ %>
          <li><%= error.msg %></li>
        <% }); %>
      </ul>
    <% } %>
    <form action="" method="POST">
      <label for="passcode">Password</label>
      <input name="passcode" type="password" placeholder="enter the membership passcode"/>
      <br>
      <button>submit</button>
  </body>
</html>